# Ignore environment-specific files
.env

# Ignore a specific directory
node_modules/

.vscode/
blogging-77326-firebase-adminsdk-fbsvc-77d956582c
blogging-77326-firebase-adminsdk-fbsvc-f9b599c556.json
